
server:
  port: 8081
spring:
  application:
    name: order-service
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ''
  jpa:
    hibernate:
      ddl-auto: update
    show-sql : true
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true

logging:
  pattern:
    level: "%d{yyyy-MM-dd HH:mm:ss} [%X{CID}] %-5level %logger{36} - %msg%n"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
