
server:
  port: 8081
spring:
  application:
    name: order-service
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true

logging:
  pattern:
    level: "%d{yyyy-MM-dd HH:mm:ss} [%X{CID}] %-5level %logger{36} - %msg%n"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
